root = true

[*.cs]
# Mover llaves a la misma línea para métodos
csharp_preserve_static_executable_statements_at_single_line = true
csharp_style_namespace_declarations = block_scoped

# Esta es la regla mágica:
csharp_new_line_before_open_brace = none